
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<!-- light-blue - v4.0.1 - 2018-10-31 -->
<h2 class="page-title">Bienvenido al Sistema de monitoreo de Ruido de Bogotá: NoiseMonitor WJ</h2>
<h4>Por favor selecciona una de las opciones de la izquierda para continuar</h4>


<script>
    document.getElementById("Sensor").class = "panel";
    document.getElementById("Home").class = "active";
    document.getElementById("User").class = "panel";
    document.getElementById("Reporte").class = "panel";
</script>